body {
  color: gray
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron-bg {
  background-image: url('https://www.autoclasstrading.cl/images/sites_products-64c937261fa20.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  /* Añade el siguiente código para ocultar el texto y el botón */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ajusta la altura según sea necesario */
}