body {
  color: gray
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron-bg {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF0ZN3buPghf8iUkJeV1lcSoxAxBi_d85oxg&usqp=CAU');
  background-size: cover;
  background-position: center;
  /* Añade el siguiente código para ocultar el texto y el botón */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ajusta la altura según sea necesario */
}

.hidden {
  display: none;
}